.MainPage {
    width: 250px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 256px;
}

.Button {
    width: 100px;
    height: 40px;
    margin-right: 5px;
    background: white;
    color: blue;
    border-radius: 2px;
}